---

- name: 'reload systemd'
  shell: 'systemctl daemon-reload'
  become: yes

- name: 'restart {{ app_name }}'
  service:
    name: '{{ app_name }}'
    state: restarted
    enabled: yes
    use: service

- name: 'restart nginx'
  service:
    name: 'nginx'
    state: restarted
    enabled: yes
    use: service
