server {
    server_name {{ app_domain }};

    listen {{ app_port }}; listen [::]:{{ app_port }};

    error_log /var/log/nginx/{{ app_name }}_error.log;
    access_log /var/log/nginx/{{ app_name }}_access.log;

    location / {
        uwsgi_pass  unix:{{ uwsgi_socket_file }};
        include     uwsgi_params;
    }

    {% set static_folders = uwsgi_static_folders.stdout.split('\n') %}
    {% for uwsgi_static_folder in static_folders %}
    location ^~ {{uwsgi_static_folder}}  {
        access_log off;
        root {{uwsgi_static_root.stdout}};
        expires max;
    }
    {% endfor -%}
}
