author "Alex Artigues"
description "{{ app_description }}"

start on startup
stop on shutdown

console log
respawn
respawn limit 10 5

pre-start script
    mkdir -p -m 0775 {{ socket_dir }}
    chown {{ app_user }}:{{ app_user }} {{ socket_dir }}
end script

exec sudo -u {{ app_user }} /opt/nublar/venv/bin/uwsgi --master --ini /opt/nublar/nublar.ini
