author "Alex Artigues"
description "{{ app_description }}"

start on startup
stop on shutdown

console log
respawn
respawn limit 10 5

setuid {{ app_user }}
setgid {{ app_user }}

exec /opt/nublar/venv/bin/uwsgi --master --ini /opt/nublar/nublar.ini
