author "Alex Artigues"
description "{{ app_description }}"

start on startup
stop on shutdown

console log
respawn
respawn limit 10 5

env USER={{ app_user }}
env PID={{ uwsgi_pid_file }}

exec start-stop-daemon --start --make-pidfile --pidfile $PID \
--chuid $USER \
--exec {{ venv_dir }}/bin/uwsgi --ini {{ app_dir }}/{{ app_name }}.ini
